<% @title = "About Afterburner" %>
<div class="page-header">
  <h1>About Afterburner</h1>
</div>
<p class="lead">From hacker to engineer: teaching software engineering
  to young developers through apprenticeship.</p>

<div class="text-center">
  <a class="btn btn-primary btn-lg" href="/how-to-apply">Apply Now</a>
</div>

<h2>Motivation</h2>
<p>Imagine a funnel of young software developers, oriented by skill level. At
the top of the funnel, noobs come in with no programming experience. Over the past few years,
the number of teach-kids-to-code efforts has exploded&mdash;and that's awesome! More kids (and adults)
should be coding! As they progress,
they'll find many programs/websites/classes along the way to help them gain skills.
</p>
<div style="text-align: center; margin-top: .5em; margin-bottom: .5em"><img src="/images/funnel.png" style="width: 60%;"/></div>
<p>At the other end of the funnel, highly skilled young people can land internships at
  startups, or even big companies. For example, Facebook's hired a few, high-profile
  high school graduates recently.
</p>

<p>The problem is, there are few programs help developers bridge the gap between knowing how to code,
  and knowing how to code well, from being a hacker who can cobble together an app after much
  Googling, to an engineer, who can plan and craft a readable, scalable, production-ready application.
</p>

<p>That's where Afterburner comes in: we pair talented young app developers with
  mentors from industry to coach them on the skills they need to build high-quality apps.
</p>

<h2>The Program</h2>

<p>
  Afterburner is a 12-week program designed to teach talented high school developers
about building well-crafted mobile apps, focusing on skills like...
</p>
<ul>
  <li>Software architecture</li>
  <li>Code readability and maintainability</li>
  <li>Scalability</li>
  <li>Testing</li>
</ul>

<p>Throughout the program, cadets work on a project of their own choosing and
  an experienced mobile developer coaches them and reviews their code. Currently,
  Afterburner is focused on iOS development skills, but may expand to Android
  in the future.
</p>

<!--
<h2>Schedule</h2>
Saturday March 7th Opening Ceremony
One week bootcamp.
Weekly one-on-ones with mentor.
Monday post project updates, with screenshots/screencast in the FB group.
Thursday
Saturday May 30th Closing Ceremony and Demo Day
-->

<h2>FAQ</h2>
<h3>Who can participate?</h3>
<p>High school students in the United States, including rising 9th graders, with at least some previous iOS development experience.</p>
<p>The ideal candidate considers development as one of their primary hobbies and has built
  at least one app from the ground up.
</p>

<h3>How do I apply?</h3>
<p>Complete the <a href="/how-to-apply#challenge">challenge</a>, come up with a project idea, then fill out the <a href="/apply">application</a>.
<p>If we select your application for further consideration, we may contact you for a brief Skype/Google Hangout interview.</li>

<h3>How well do I have know iOS?</h3>
<p>Previous cadets have built at least one iOS app from the ground up, in Objective-C.</p>
<p>Not sure if you qualify? Try the <a href="/how-to-apply#challenge">challenge</a> and <a href="/apply">apply</a>! Even if you aren't
  accepted, you'll learn a lot in the process!
</p>

<h3>Where will be Afterburner be held?</h3>
<p>Online! No traveling required! All you need is a <a href="http://github.com">GitHub</a> account.</p>

<h3>How do I become a mentor?</h3>
<p>Email us at <a href="mailto:info@afterburner.me">info@afterburner.me</a></p>
