<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>AFTERBURNER | Training Tomorrow's Software Engineers</title>

    <link href="alt//css/bootstrap.css" rel="stylesheet">
  </head>
  <body>
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
          </div>
          <div class="col-md-8">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
