<!DOCTYPE html>
<html lang="en">
  <head>
    <%= erb :header, :layout => false %>
  </head>
  <body>
    <%= erb :navigation, :layout => false %>
    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-md-8" style="margin-left: auto; margin-right: auto; float: none">
            <%= yield %>
          </div>
        </div>
      </div>
    </div>
    <%= erb :footer, :layout => false %>
  </body>
</html>
