<div style="height:80px; width: 100%; background-color: #2c2c2c; position: absolute;"></div>
<section class="pagetitle">
  <!-- BEGIN: ABOUT TITLE --> 
  <div class="section-title row text-center">

    <h2>APPLICATION</h2>
    <div class="divider-grey"></div>
    <h4 class="sub-title">MOVIE SUGGESTIONS</h4>

  </div>
  <!-- END -->
</section>

<!-- BEGIN BLOG 3 COLUMNS -->
<section id="blog" class="blog-single light-section nopadding">
  <!-- BEGIN CONTAINER -->
  <div class="container single">

    <!-- BEGIN SINGLE CONTENT COLUM -->
    <div class="col-md-12">	

      <!-- BEGIN BLOG POST -->
      <div class="blog-post isotope-item">
        <!-- BEGIN POST CONTENT -->
        <div class="post-content">
          <p><strong>Timeframe:</strong> 3 days.</p>
          <p><strong>Deliverable:</strong> Email us at <a href="mailto:application@afterburner.me">application@afterburner.me</a> with a link to your GitHub repo containing your iOS app.</p>

          <p><strong>Description:</strong> Build an iOS app using the Rotten Tomatoes API that suggests a
          “good” movie based on previous movie ratings.</p>

          <p>Start by presenting the user a series of movies to rate. Once the
          user has rated a few movies, display a list of movies you think the
          user would like, based on their ratings.</p>

          <p>Details are up to you, but here are some things to think about:</p>

          <ul>
            <li>How will you decide which movies to present to the user to rate? How can you increase the probability that the user has actually seen that movie? What happens if they haven't seen the movie? Maybe some resources in the Rotten Tomatoes API can help you with this :)</li>
            <li>How many initial movies should the user rate before displaying suggestions? Do more ratings make for more accurate suggestions?</li>
            <li>How will you find suggested movies based on the rated movies? What if you tried different criteria, like same genre, directors, actors etc.? How would you allow the user to select which criteria to apply?</li>
          </ul>

          <p>Tips:</p>

          <ul>
            <li>Balance your time between visuals and algorithmic functionality.</li>
            <li>Even if you don't finish, be sure to turn in what you have.</li>
            <li>Learn more about the Rotten Tomatoes API at http://developer.rottentomatoes.com/</li>
          </ul>

        </div>
        <!-- END POST CONENT -->
      </div>
      <!-- END BLOG POST -->
    </div>	
    <!-- END SINGLE CONTENT COLUMN -->
  </div>	
  <!-- END CONTAINER -->
</section> 
