<div style="height:80px; width: 100%; background-color: #2c2c2c; position: absolute;"></div>
<section class="pagetitle">
  <!-- BEGIN: ABOUT TITLE --> 
  <div class="section-title row text-center">

    <h2>APPLY TO AFTERBURNER</h2>
    <div class="divider-grey"></div>
    <div class="sub-title">FALL SESSION: SEPT 6th &ndash; NOV 1st 2014<br>APPLICATIONS DUE JULY 15th</div>
  </div>
  <!-- END -->
</section>

<!-- BEGIN BLOG 3 COLUMNS -->
<section id="blog" class="blog-single light-section nopadding">
  <!-- BEGIN CONTAINER -->
  <div class="container single">

    <!-- BEGIN SINGLE CONTENT COLUM -->
    <div class="col-md-12">	

      <!-- BEGIN BLOG POST -->
      <div class="blog-post isotope-item">
        <!-- BEGIN POST CONTENT -->
        <div class="post-content">
          <p>Thanks for your interest in Afterburner! Here are the details and application instructions for
          our Fall 2014 Pilot Program:</p>
          <p><strong>Who:</strong> High School students in the United States, including rising 9th graders, with at least some previous iOS development experience.</p>
          <p><strong>When:</strong> Our first Afterburner session will run from Saturday,
          September 6th to Saturday, November 1st, 2014. <em>Applications are due July 15th.</em></p>
          <p><strong>Where:</strong> Online! No traveling required! All you need is a
          <a href="http://github.com">GitHub</a> account.</p>

          <p><strong>How:</strong> To apply, follow these instructions:
          <ul>
            <li>Sign in below with your GitHub account. Don't have a GitHub account? <a href="http://github.com">Create one!</a></li>
            <li>Write a description of an iOS project you want help with. It should be relatively sizable,
            something that would take at least a few thousand lines of code.</li>
            <li>Complete the challenge described on the application page, store your code in a GitHub repo and specify which repo on the form.</li>
            <li>If we select your application for further consideration, we will contact you for a brief Skype/Google Hangout interview.</li>
          </ul>
          <div class="divider-grey"></div>

          <div class="text-center">
            <a class="des-button-dark des-button-dark-1 des-button-dark-1d" href="/apply/2014-Q3"><span><i class="fa fa-github" style="font-size: 200%"></i><br>Sign in with GitHub to Apply</span></a>

            <br>
            <p>Applications Due July 15th!</p>
          </div>
        </div>
        <!-- END POST CONENT -->
      </div>
      <!-- END BLOG POST -->
    </div>	
    <!-- END SINGLE CONTENT COLUMN -->
  </div>	
  <!-- END CONTAINER -->
</section> 
