<% @title = "Contribute" %>
<div class="page-header">
  <h1>Contribute</h1>
</div>
<p class="lead">Help Afterburner by taking on a project and sending us a
  <a href="https://github.com/afterburner/afterburner.me">pull request</a>.</p>

<h3>Write Tips</h3>
<p>One of the most helpful things you can do is write <a href="/tips">Tips</a> to aid
  future Afterburner cadets. Give it your best shot and send us a pull request.</p>

<h3>Design Medal Icons</h3>
<p>Take a look at anyone's profile from the leaderboard and you'll notice that
all the medals they've won have the same icon. Wouldn't it be cool if each medal
had its own graphical identity? Yeah, we think so too. Help us by designing
some medal icons. Contact us at <a href="mailto:contribute@afterburner.me">contribute@afterburner.me</a> to get started.</p>

<h3>Refactor Website Controllers</h3>
<p>Like well-crafted Ruby code? Our website does not qualify. Help us out by
refactoring our site into separate controllers. Contact us at
<a href="mailto:contribute@afterburner.me">contribute@afterburner.me</a> to get started.</p>
