<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/favicon.ico">
  <title>AFTERBURNER | Training Tomorrow's Software Engineers</title>

  <script src="/js/jquery.min.js" type="text/javascript"></script>
  <link href="/alt/css/bootstrap.min.css" rel="stylesheet">
  <link href="/alt/css/icons-font.min.css" rel="stylesheet">
  <link href="/alt/css/ionicons.min.css" rel="stylesheet">
  <link href="/alt/css/afterburner.css" rel="stylesheet">
  <script src="/alt/js/bootstrap.min.js"></script>
</head>
