<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="images/favicon.ico">
  <title><%= @title + " | " if @title %>AFTERBURNER<%= " | Training Tomorrow's Software Engineers" unless @title %></title>

  <script src="/js/jquery.min.js" type="text/javascript"></script>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/icons-font.min.css" rel="stylesheet">
  <link href="/css/ionicons.min.css" rel="stylesheet">
  <link href="/css/afterburner.css" rel="stylesheet">
  <script src="/js/bootstrap.min.js"></script>
</head>
