<% @title = "How to Apply" %>
<div class="page-header">
  <h1>How to Apply</h1>
</div>
<p class="lead">Spring Session: March 7th &ndash; May 30th<br/>Applications due February 14th</p>

<p>Thanks for your interest in Afterburner! Here are the details and application instructions for
our Spring 2015 Pilot Program:</p>
<p><strong>Who:</strong> High School students in the United States, including rising 9th graders, with at least some previous iOS development experience.</p>
<p><strong>When:</strong> Afterburner will run from Saturday, March 7th to Saturday, May 30th, 2015. <em>Applications are due February 14th.</em></p>
<p><strong>Where:</strong> Online! No traveling required! All you need is a
<a href="http://github.com">GitHub</a> account.</p>
<p><strong>How:</strong> To apply, complete the <a href="#challenge">challenge</a>, come up with a project idea, then fill out the <a href="/apply">form</a>.
<p>If we select your application for further consideration, we may contact you for a brief Skype/Google Hangout interview.</li>

<p class="text-center" style="margin-top: 2em"><a class="btn btn-primary btn-lg" href="/apply">Sign in with Github and Apply</a></p>

<a name="challenge"></a>
<div class="page-header">
  <h2>Challenge: Valentine's Day Cards</h2>
</div>
<p>Write an iOS application where users create a Valentine's Day Card, with a
  photo selected from a Flickr search and some additional features of your choice.</p>

<h3>Requirements</h3>
<p>Be creative with what you build, but make sure your application fulfills these requirements:</p>
<ol>
  <li>User can search Flickr for a photo. Learn more about the <a href="https://www.flickr.com/services/api/">Flickr API</a>.</li>
  <li>Do at least one creative thing with your card! It could be...</li>
  <ul>
    <li>Allowing the user to add a custom message.</li>
    <li>Storing the card for future opens of the app.</li>
    <li>Sharing the card on Facebook/Twitter.</li>
    <li>Surprise us!</li>
  </ul>
  <li>Place your code in a GitHub repo. On the <a href="/apply">form</a>, you can select which repo to submit with your application. Be sure your application builds and runs without modification!</li>
</ol>

<h3>Example Wireframes</h3>
<p>Only as an example, your application might have three screens like these wireframes: one for
searching Flickr and selecting an image, one for adding text and one for retreiving stored cards. Note,
your application does not have to conform to these wireframes; they are only provided to clarify the requirements.</p>
<img src="/images/wireframes.png" style="width: 100%">

<p class="text-center" style="margin-top: 2em"><a class="btn btn-primary btn-lg" href="/apply">Sign in with Github and Apply</a></p>

</form>
