<!DOCTYPE html>
<html lang="en">
  <head>
    <%= erb :header, :layout => false %>
  </head>
  <body>
    <%= erb :navigation, :layout => false %>
    <header class="front-header">
      <div class="jumbotron">
        <div>
          <h1>Afterburner</h1>
          <p>Training tomorrow's software engineers.</p>
        </div>
      </div>
    </header>

    <div id="content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-center">
            <h2>About Us</h2>
          </div>

          <div class="container">
            <div class="col-sm-4">
              <div class="text-center">
                <span class="glyphicons fire" style="font-size: 4em"></span>
              </div>

              <h4>What is Afterburner?</h4>
              <p>Afterburner is a mentoring program, guiding talented young
              software developers through the ins and outs of building battle-ready,
              enterprise-level code.</p>
              <p><a href="/about">Learn more.</a></p>
            </div>

            <div class="col-sm-4">
              <div class="text-center">
                <span class="glyphicons blacksmith" style="font-size: 4em"></span>
              </div>

              <h4>How does it work?</h4>
              <p>Cadets work on their own projects, under the mentorship of an
              experienced software developer. Mentors provide
              input on best practices, architecture and most critically, code
              review at each step of the project.</p>
              <p><a href="/about">Learn more.</a></p>
            </div>

            <div class="col-sm-4">
              <div class="text-center">
                <span class="glyphicons parents" style="font-size: 4em"></span>
              </div>

              <h4>How do I get involved?</h4>
              <p>Our Spring 2015 Pilot will run from March 7th through May 30th. Applications are due February 14th.</p>
              <p><a href="/how-to-apply">Apply now!</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <%= erb :footer, :layout => false %>
  </body>
</html>
