<div class="page-header">
  <h1>All-time Leaderboard</h1>
</div>

<%= erb :leader_table, :locals => { :users => @cadet_leaders }, :layout => false %>

<div class="page-header">
  <h1>Mentor Leaderboard</h1>
</div>
<p class="lead">Mentors deserve some credit too.</p>
<%= erb :leader_table, :locals => { :users => @mentor_leaders }, :layout => false %>
