<% @title = "Reading List" %>
<div class="page-header">
  <h1>Reading List</h1>
</div>
<p class="lead"></p>

<h2>Dead Trees</h2>
Effective Objective-C
Cocoa Design Patterns

<h2>Online</h2>
iOS Dev Weekly
objc.io
Mike Ash's Blog
