html, body {
  height: 100%;
}

header.front-header {
  height: 300px;
}

header.front-header .jumbotron {
  height: 100%;
  width: 100%;
  background-image: url('/images/wings-bg.jpeg');
  background-position: 50% 30%;
  background-size: cover;
  padding: 2em;
  color: white;
  position: relative;
}

header.front-header .jumbotron div {
  position: absolute;
  bottom: 2em;
}

header.front-header h1,
header.front-header p {
  margin-bottom: 0px;
}

#content {
  min-height: 100%;
  margin-bottom: -8em;
}

#content:after {
  content: "";
  display: block;
  height: 2em
}

footer, #content:after {
  height: 8em;
}

footer {
  border-top: 1px solid #e7e7e7;
  background-color: #f8f8f8;
  margin-top: 2em;
}

footer, footer a {
  text-decoration: none;
  color: #777;
}

footer .container {
  padding-top: 2em;
}
